.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
  border: 1px solid black;
  border-radius: 4px;
  max-width: 300px;
}

.container span {
  font-weight: 600;
  margin: 10px 0;
}
.sign_form {
  margin: 20px 0;
  display: flex;
  flex-direction: column;
}

.sign_form input {
  margin-bottom: 20px;
}
